body {
    font-family: Arial, sans-serif;
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color:transparent;
    padding: 10px;
    text-align: center;
    color: rgb(24, 85, 27);
}

h1 {
    margin: 0;
    font-size: 3rem;
}

nav {
    margin-top: 10px;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #671010;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: none;
}

nav button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

section {
    background-color:transparent;
    margin: 20px auto;
    padding: 30px;
    width: 100%;
    max-width: 800px;
}

.hidden {
    display: none;
}

#foodbook-header {
    font-family: 'Arial', sans-serif;  
    font-size: 48px;                  
    text-align: center;                
    font-weight: bold;                
    margin: 20px 0;                    
}

#foodbook-header .food {
    color: rgb(51, 125, 125);                    
}

#foodbook-header .book {
    color: orange;                     
}

#register-form input,
#register-form button,
#login-form input,
#login-form button {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    font-size: 1rem; 
    border-radius: 5px;
    border: 2px solid #b78b8bb3; 
    box-sizing: border-box;
}


#register-form button,
#login-form button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#register-form button:hover,
#login-form button:hover {
    background-color: #ec971f;
}

#register-section h2,
#login-section h2 {
    color: #ffffff;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 20px;
}

#register-form label,
#login-form label {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
}

#user-info {
    margin-right: 10px; 
    color: rgb(5, 3, 3);
    font-size: 1.15rem; 
    font-weight: bold;
    display: inline-block; 
}

#logout-btn {
    background-color: #ff5722; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#logout-btn:hover {
    background-color: #e64a19; 
}


#account-section {
    background-color: transparent; 
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 40px auto;
    color: white; 
    text-align: center;
}

#account-section h2 {
    color: #ffffff; 
    font-size: 1.9rem;
    margin-bottom: 20px;
}


#my-recipes-list {
    list-style-type: none; 
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

#my-recipes-list li {
    background-color: rgba(246, 243, 243, 0.7); 
    color: #ececec; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

#my-recipes-list a {
    color: #000000;
}

.recipe-details {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: #000000; 
    font-size: 1.2rem;
}


#account-btn {
    background-color: #3D94F6; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-right: 10px; 
}

#account-btn:hover {
    background-color: #1E62D0; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#my-recipes-btn {
    background-color: #f0ad4e; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#my-recipes-btn:hover {
    background-color: #ec971f; 
}



.BUTTON_BVY {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    border-radius: 20px;
    border: 2px solid #0059A0;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.BUTTON_BVY:hover {
    background: #1E62D0;
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    border-radius: 25px;
    border: 2px solid #337FED;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#recipe-form input,
#recipe-form textarea,
#recipe-form select {
    width: 100%;
    padding: 10px;
    margin: 0 auto 20px auto;
    margin-left: 9px;
    border: 2px solid #b78b8bb3;
    border-radius: 5px;
    background-color: #fdfdfd; 
    color: #000000; 
    box-sizing: border-box;
}

#recipe-form button {
    padding: 10px 20px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 9px;
}

#recipe-form button:hover {
    background-color: #587259;
}

#add-recipe-section h2 {
    color: #ffffff; 
    font-size: 1.9rem; 
    text-align: center; 
    margin-bottom: 20px; 
}

#recipe-form label {
    color: #ffffff; 
    font-size: 1.rem; 
    font-weight: bold; 
    display: block; 
    margin-bottom: 10px; 
    margin-left: 20px;
}

#category-section button {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    border-radius: 20px;
    border: 2px solid #0059A0;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#category-section button:hover {
    background: #1E62D0;
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    border-radius: 25px;
    border: 2px solid #337FED;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#category-section {
    text-align: center;
}

#category-section h2 {
    margin-bottom: 20px; 
    color: #a0fafe; 
    text-align:center; 
}

section#allRecipes {
    margin: 20px auto;
    padding: 0;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}


#recipes-list {
    color: #ffffff; 
    font-size: 1.3rem;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;     
}

#recipes-list li {
    color: #faf4f3; 
}

ul#recipes-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

#recipes-section h2 {
    color: #3333ff; 
}

.recipe-details-background {
    color: #000000;
    background-color: rgba(244, 244, 244, 0.7);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.recipe-details-background ol li {
    color: #000000 !important; 
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;  
}


.recipe-button {
    background-color: #3D94F6;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}

.recipe-button:hover {
    background-color: #1E62D0;
}


#back-to-categories-btn {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}

#back-to-categories-btn:hover {
    background-color: #ec971f;
}



.recipe-button {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}


.recipe-tile {
    width: 225px;
    height: 225px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    margin: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 1;
}


.recipe-title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.hidden {
    display: none;
}

button.hidden {
    display: none; 
}

button#back-to-recipes-btn {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}

button#back-to-recipes-btn:hover {
    background-color: #ec971f;
}



ol {
    margin-left: 20px; 
    padding-left: 10px;
}

ol li {
    margin-bottom: 5px;
    line-height: 1.5; 
}


#comments-list {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

#add-comment-section {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

#comments-header {
    font-size: 1.5em;
    font-weight: bold;

    margin-bottom: 10px;
    color: #000000;
}


#comment-form textarea {
    width: 95%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
    
}
#comment-form .star-rating {
    width: auto;
    padding: 0px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: none;
    background-color: transparent; 
    box-sizing: border-box;
}

#comment-form button {
    background-color: #d89435;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#comment-form button:hover {
    background-color: #587259;
}



.star-rating {
    display: table;
    align-items: center;
    justify-content: flex-start;
    direction: rtl;
    
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #575757;
    cursor: pointer;
    margin-right: 10px;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffff00;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #deb217;
}


.stars {
    color: #ffc700; 
    font-size: 1.5em; 
    margin-left: 10px; 
    display: inline-block; 
    font-family: Arial, sans-serif; 
}

#contact-footer {
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    background-color: rgba(255, 255, 255, 0.1); 
    color: #daec56; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 14px; 
    z-index: 1000; 
    text-align: left;
}

#contact-footer a {
    color: #daec56;
    text-decoration: none; 
}

#contact-footer a:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    section {
        width: 80%;
    }

    #category-section button,
    #recipe-form button {
        width: 100%;
        margin: 10px 0;
    }

    #recipes-list {
        text-align: center;
    }

    #contact-footer {
        font-size: 12px; 
        padding: 8px; 
        bottom: 5px; 
        right: 5px;
    }

    #contact-footer a {
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    #category-section button {
        font-size: 0.9rem;
    }

    #recipe-form input,
    #recipe-form textarea,
    #recipe-form select {
        font-size: 0.9rem;
    }

    #recipes-list {
        text-align: center; 
    }

    #contact-footer {
        font-size: 10px; 
        padding: 5px; 
        bottom: 3px; 
        right: 3px; 
    }

    #contact-footer a {
        font-size: 10px; 
    }
}






