body {
    font-family: Arial, sans-serif;
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color:transparent;
    padding: 10px;
    text-align: center;
    color: aqua;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

nav {
    margin-top: 10px;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #671010;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: none;
}

nav button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

section {
    margin: 40px auto;
    padding: 20px;
    background-color:transparent;
    width: 50%;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#foodbook-header {
    font-family: 'Arial', sans-serif;  /* Zmień rodzinę czcionek */
    font-size: 48px;                   /* Zmień rozmiar czcionki */
    text-align: center;                /* Wyśrodkuj tekst */
    font-weight: bold;                 /* Ustaw pogrubienie */
    margin: 20px 0;                    /* Dodaj marginesy nad i pod */
}

#foodbook-header .food {
    color: rgb(51, 125, 125);                      /* Ustaw kolor "Food" na biały */
}

#foodbook-header .book {
    color: orange;                     /* Ustaw kolor "Book" na pomarańczowy */
}

#register-form input,
#register-form button,
#login-form input,
#login-form button {
    width: 100%; /* Pełna szerokość */
    padding: 10px;
    margin-bottom: 15px; /* Margines między elementami */
    font-size: 1rem; /* Zwiększona czcionka */
    border-radius: 5px;
    border: 2px solid #b78b8bb3; /* Ujednolicenie z formularzem przepisu */
    box-sizing: border-box;
}

#register-form button,
#login-form button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#register-form button:hover,
#login-form button:hover {
    background-color: #ec971f;
}

#register-section h2,
#login-section h2 {
    color: #ffffff;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 20px;
}

#register-form label,
#login-form label {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
}

#user-info {
    margin-right: 10px; /* Odstęp między informacją o użytkowniku a przyciskiem wylogowania */
    color: rgb(5, 3, 3);
    font-size: 1.15rem; /* Dostosowanie wielkości czcionki */
    font-weight: bold;
    display: inline-block; /* Ustawienie inline-block, aby być w linii z przyciskiem */
}

#logout-btn {
    background-color: #ff5722; /* Kolor tła dla przycisku wylogowania */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#logout-btn:hover {
    background-color: #e64a19; /* Zmiana koloru po najechaniu */
}


.BUTTON_BVY {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    border-radius: 20px;
    border: 2px solid #0059A0;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.BUTTON_BVY:hover {
    background: #1E62D0;
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    border-radius: 25px;
    border: 2px solid #337FED;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#recipe-form input,
#recipe-form textarea,
#recipe-form select {
    width: 100%;
    padding: 10px;
    margin: 0 auto 20px auto;
    margin-left: 9px;
    border: 2px solid #b78b8bb3;
    border-radius: 5px;
    background-color: #fdfdfd; 
    color: #000000; 
    box-sizing: border-box;
}

#recipe-form button {
    padding: 10px 20px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 9px;
}

#recipe-form button:hover {
    background-color: #587259;
}

#add-recipe-section h2 {
    color: #ffffff; 
    font-size: 1.9rem; 
    text-align: center; 
    margin-bottom: 20px; 
}

#recipe-form label {
    color: #ffffff; 
    font-size: 1.rem; 
    font-weight: bold; 
    display: block; 
    margin-bottom: 10px; 
    margin-left: 20px;
}

#category-section button {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    border-radius: 20px;
    border: 2px solid #0059A0;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#category-section button:hover {
    background: #1E62D0;
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    border-radius: 25px;
    border: 2px solid #337FED;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Sekcja kategorii */
#category-section {
    text-align: center;
}

#category-section h2 {
    margin-bottom: 20px; 
    color: #a0fafe; 
    text-align:center; 
}




section {
    margin: 20px auto;
    padding: 30px;
    width: 60%;
    max-width: 800px;
}


@media (max-width: 768px) {
    section {
        width: 80%;
    }

    #category-section button,
    #recipe-form button {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    #category-section button {
        font-size: 0.9rem;
    }

    #recipe-form input,
    #recipe-form textarea,
    #recipe-form select {
        font-size: 0.9rem;
    }
}


#recipes-list {
    color: #ffffff; 
    font-size: 1.3rem; 
}

#recipes-list li {
    color: #faf4f3; 
}

#recipes-section h2 {
    color: #3333ff; 
}


.recipe-button {
    background-color: #3D94F6;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}

.recipe-button:hover {
    background-color: #1E62D0;
}


#back-to-categories-btn {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}

#back-to-categories-btn:hover {
    background-color: #ec971f;
}



.recipe-button {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}


.recipe-tile {
    width: 200px;
    height: 200px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    margin: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 1;
}


.recipe-title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.hidden {
    display: none;
}

button.hidden {
    display: none; 
}

button#back-to-recipes-btn {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}

button#back-to-recipes-btn:hover {
    background-color: #ec971f;
}



ol {
    margin-left: 20px; 
    padding-left: 10px;
}

ol li {
    margin-bottom: 5px;
    line-height: 1.5; 
}





